<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Arabic Word Graph</title>
  <link rel="stylesheet" href="static/main.css">
  <script type="text/javascript" language="JavaScript">
  function show_node(rid) {
      location.href = "show?h=" + document.getElementById('content').clientHeight +
                      "&w=" + document.getElementById('content').clientWidth +
                      "&rid=" + rid;
  } 
  </script>
</head>

<body>

<div id="header">

<div id="title">
مسودة رسومات بيانية اشتقاقية
/ pre-alpha arabic derivation graph viewer
</div>

<div id="search">
<form action="search">
  <input type="submit" value="ابحث">
  <input type="text" name="q">
</form>
</div>

</div>

<div id="container">       
#if $node
    <div class="sideBar">
      <div class="sbElementContainer">
        <div class="citation_form">
    	  $node.data.label
        </div>
      </div>

#if $node.data.get("pattern")
      <div class="sbElementContainer">
        <div class="sbElementHeader">
          pattern
	    </div>
        <div class="sbElementContent">
          $node.data.pattern
	    </div>
      </div>
#end if      
      <div class="sbElementContainer">
        <div class="sbElementHeader">
          translations from elixirfm
	    </div>
        <div class="sbElementContent">
        $unicode.join(u", ", [e.in_.data["label"] for e in $node.outE if e.cls == "InformationEdge" ])
	    </div>
      </div>

      #for r in $external_data:
      	#if $r.result:
	      <div class="sbElementContainer">
	        <div class="sbElementHeader">
	          <a href="$r.url"> $r.provider </a>
            </div>
	        <div class="sbElementContent">
			$r.result_as_html
		    </div>
	      </div>
	    #end if
	  #end for
    </div>
#end if
    <div id="content" class="content">
      <div class="graph"> $svg </div>
    </div>
</div>
</body>
</html>
